/* ==========================================================================
   MASTHEAD
   ========================================================================== */

$masthead-background-alpha: 0.8;

.masthead {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba($background-color, $masthead-background-alpha);
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.5em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;
    @include breakpoint($x-large) {
      max-width: $max-width;
    }
    nav {
      z-index: 10;
    }
    a {
      text-decoration: none;
    }
  }
}

.masthead_scroll {
  background: rgba(#ffffff, $masthead-background-alpha);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  z-index: 20;
  font-size: 1em;
}

.site-subtitle {
  font-size: 0.5em;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  .site-nav {
    margin-left: 0;
    @include breakpoint($small) {
      float: right;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    font-weight: 500;
    font-size: 0.8em;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
